.wrapper{

    display:grid;
    grid: 2px solid orange;
    grid-template-columns: 200px 100px;
    grid-auto-columns:200px;
    gap:10px;
    border:2px solid orange;
    border-radius: 5px;
    background-color: white;
     

}

.item{
    border:2 px salmon
    border-radius:5px;
    background-color:red 

}

p{
    color:rgb(41, 41, 41);
    font-size: 60x;
    font-family: sans-serif
    
}

.my-class {
    color:rgb(65, 65, 66);
}
* {
    color:rgb(104, 94, 94);
}

img{ 
    padding: 10px;
    border:3px;
    margin: 30px;
    width: 300px;
}

figcaption{
    padding: 1px;
    border:1px green ;
    margin: 5px;
    width:500px;
}

p{
    padding: 5px;
    border:1px green; 
    margin: 10px;
    width:1000px;
}

a:hover {
    color:blueviolet;
}

h1{
text-align:center;
border:3px green;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif 
}




